                
                </div>
            </div>
            <footer class="row text-center text-muted" style="font-family: verdana; color: beige; padding: 2%;">
                <div class="col-md-12 well" style="background-color: inherit;">
                    <strong>All rights reserved</strong><br/>
                    <strong>Copyright &copy; 2017</strong><br/>
                    <strong>Developed By - Team Scorpion</strong><br/>
                </div>
            </footer>
        </div>
    </body>
</html>