        <div class="footer">
            <div class="container-fluid">
                <br/>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <a href='#'><i class="fa fa-facebook fa-2x fa-fw"></i></a>
                        <a href='#'><i class="fa fa-twitter fa-2x fa-fw"></i></a>
                        <a href='#'><i class="fa fa-youtube-play fa-2x fa-fw"></i></a>
                        <a href='#'><i class="fa fa-linkedin fa-2x fa-fw"></i></a>
                    </div>
                    &nbsp;
                    <div class="col-md-4">
                        <div class="text-center text-muted">
                            <span>Copyright &copy; <?php echo date("Y");?></span><br/>
                            <span>All rights reserved - TuitionGuruJi <sup><i class="fa fa-trademark" aria-hidden="true"></i></sup></span>
                        </div>
                    </div>
                    &nbsp;
                    <div class="col-md-4 text-center">
                        <span style="color:#ffb60c;">Developed by <span class="fa fa-spinner fa-spin" style="color:#fff;"></span> <a href="#"><i class="text-muted text-danger">Team Scorpion</i></a></span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>