<div class="container">
    <div class="row">
        <br/><br/>
        <div class="col-md-10 col-md-offset-1">
            <div class="alert alert-warning alert-dismissible faqHeader" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <span>Get instant answers for the most common questions about this site and learn how to use it in no time. 
                    If there are still unanswered questions, we would be happy to answer them, just leave us a feedback at <strong class="text-danger">mail@tuitionguruji.com</strong></span>
            </div>
            <div class="panel-group" id="accordion">
                <div class="faqHeader"><h3>GENERAL QUESTIONS</h3></div><br/>
                <div class="panel panel-default">
                    <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <strong class="panel-title"><i class="fa fa-user-plus"></i> Create Tutor Profile</strong>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p class="text-justify">
                                Become a teacher by creating your profile here and tell us about yourself, your skills, subject expertise, qualifications, teaching ability and experience. Be sure to provide as much information as you can in your profile so that we can speed up the verification process and your profile starts showing up in the right spot when parents and students are searching for home tutors on our website.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <strong class="panel-title"><i class="fa fa-briefcase"></i> Apply for jobs</strong>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p class="text-justify">
                                Once your profile is complete, you can start browsing our latest home tuition jobs page and start applying for the tuition jobs that best fits your skills, favorable location, class and subjects.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <strong class="panel-title"><i class="fa fa-check"></i> Get Verified</strong>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p class="text-justify">
                                Once you have applied for the tuition jobs that matches your profile, the next step is to upgrade to premium membership so that we can help you in scheduling one to one demo session with the students/parents. By becoming our premium member, you will get a TuitionGuruJi verified tag that will improve your profile visibility with a better chance of being contacted and hired for a tuition job.
                            </p>
                            <p>
                                You also need to upload certain documents such as Address proof, ID proof, Class 10th Marksheet, latest educational certificate, etc. at the time of registration at TuitionGuruJi. This Verification is done to make sure only the right and eligible home tutors get connected with us and become a part of our network. The verification process builds more trust among teachers, parents and students.
                                To know more about how to upgrade your membership, call us at 81234-999-888 or write us at mail@tuitionguruji.com
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <strong class="panel-title"><i class="fa fa-inr"></i> Start Tutoring and Grow your income</strong>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p class="text-justify">
                                If parent like the demo session and vice versa, you can continue tuition and start earning. You will get paid for the time you spend teaching students. We will collect the initial month tuition fees in advance from parents and will give it to you after completion of the first month tuition.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>